.sidebar {
  text-align: left;
  padding-right: 0px;
  background-color: #EFEFEF;
  height: 90%;
  overflow: scroll;
}

button {
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid;
  border-radius: 25px;
}

.action-buttons {
  margin-top: 15px;
  text-align: center;
}

button.orange {
  background-color: #EF7200 !important;
  color: white;
  margin-right: 5px;
}

button.white {
  background-color: #FFFFFF !important;
  color: #2EAC74;
}

.sidebar .title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  color: #09365E;
  font-weight: bold;
  padding-left: 15px;
  border-bottom: 1px solid #A5A7A8;
}

.chats {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

.chat {
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-top: 5px;
  border-bottom: 1px solid #A5A7A8;
  padding-right: 5px;
}

.chat .sender-name {
  margin-bottom: 10px;
}

.chat .sender-name .timestamp {
  color: #B8B8B8;
  float: right;
}

.chat .content {
  color: #838383;
}

.chat.bot {
  color: #09B794;
}

.chat.client {
  color: #EF7200;
}

.chat.sysco {
  color: #E8E533;
}
