.app {
  height: 100%;
  text-align: center;
}

.app .content-row {
  height: 100%;
  border: 1px solid black;
}

.app .content-row.row {
  margin: 0;
}

.app .content-row .content-col {
  height: 100%;
  padding: 0;
}

.sidebar {
  height: 100%;
}

.app .row .panel {
  background-color: #1C262B;
  height: 100%;
  border: 1px solid red;
}
