html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1F2225;
  color: white;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  border: 1px solid transparent;
  height: 100%;
  min-height: 100%;
}
